{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel = "icon" href = "{% static 'images/cp logo.png' %}" type = "image/x-icon">
    <script src="https://kit.fontawesome.com/69c632f6b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css %}{% endblock %}
    <link href="http://fonts.cdnfonts.com/css/elianto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet'>
</head>
<body>
  <div class="lform">
  <div class="login-form">
    <div class="form-content">
        <h1>LOGIN</h1>
        <form action="/hanlogin/" method="POST">{% csrf_token %}
            <div class="data1">
            <label for="email" class="Email">Email or Username</label>
            
            <input type="text" id="email" name="username" required>
            </div>
            <div class="data1">
                <label for="passw" class="pass">Password</label>
                <input type="password" id="passw" name="password">
            </div>
            <h3><a href="">Forgot Password?</a></h3>
            <div class="btn"><button type="submit">LOGIN</button></div>
          <div class="or"> <p class="or">
                ----- or continue with -----
              </p></div>
              <div class="icons">
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook"></i>
              </div>
              <div class="not-member">
                Not a member? <a href="#">Register Now</a>
              </div>
             
        </form>
        <div class="close-button">
            <i class="fa-solid fa-xmark"></i>
          </div>
    </div>
    
</div>
  </div>
  <div class="sform">
  <div class="signup-form">
    <div class="form-content">
        <h1>SIGNUP</h1>
        <form action="">
            <div class="data2">
            <label for="email" class="Email">First Name</label>
            
            <input type="text" id="email" required>
            </div>
            <div class="data2">
            <label for="email" class="Email">Last Name</label>
            
            <input type="text" id="email" required>
            </div>
            <div class="data2">
            <label for="email" class="Email">Email</label>
            
            <input type="text" id="email" required>
            </div>
            <div class="data2">
            <label for="email" class="Email">Password</label>
            
            <input type="text" id="email" required>
            </div>
            <div class="data2">
                <label for="passw" class="pass">Confirm Password</label>
                <input type="password" id="passw">
            </div>
            <!-- <h3><a href="">Forgot Password?</a></h3> -->
            <div class="btn"><button type="submit">SIGNUP</button></div>
          <div class="or"> <p class="or">
                ----- or continue with -----
              </p></div>
              <div class="icons">
                <i class="fab fa-google"></i>
                <i class="fab fa-facebook"></i>
              </div>
              <!-- <div class="not-member">
                Not a member? <a href="#">Register Now</a>
              </div> -->
             
        </form>
        <div class="close-button1">
            <i class="fa-solid fa-xmark"></i>
          </div>
    </div>
    
</div>
  </div>
  <div class="f">
  <header id="first-head">
    <span>CLASSIC</span><img src="{% static 'images/logo2.png' %}" alt=""><span>PRINTERS</span>
  </header>
    <!-- <section class="head">
        <div class="image">
            <img src="{% static 'images/logo.jpeg' %}" alt="">
           
        </div>
        <div class="head-title">
            <p>For anything you think, we’ve got ink.</p>
        </div>
        <div class="search-bar">
                <input type="text" placeholder="Search"/>
        </div>
        <div class="login">
                <h1>login</h1>
        </div>
    </section> -->
   <!-- <hr style="background-color:#232325"> -->
   <div id="navigation">
        <nav id="navbar2" class="navbar">
            <div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/products/products">All Products</a></li>
                    <li><a href="/products/vis_card">Visting Cards</a></li>
                    <li><a href="/products/letter_heads">Letter Heads</a></li>
                    <li><a href="/products/brochure">Brochure</a></li>
                    <li><a href="/products/envelope">Envelopes</a></li>
                    <li class="coming-soon"><a href="">Coming Soon</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Bags</a></li>
                    <li><a href="">Packaging</a></li>
                    <!-- <li><a href="">Onboarding Kits</a></li> -->
                </ul>
            </div>
            {% if user.is_authenticated %}
            <div class="login-button">
              <button>Welcome {{user.first_name}}</button>
            </div>
            {% else %}
            <div class="login-button">
                <button>Login/SignUp</button>
            </div>
            {% endif %}
        </nav>
   </div>
  </div>
        <!-- <hr style="background-color:#232325"> -->
    {% block body %}{% endblock %}
    <div class="first-foot">
      <div class="foot-form">
        <form id="contact-form">{% csrf_token %}
          <div class="form-head">
            <h1>GET IN TOUCH</h1>
          </div>
          <div class="input-name">
            <input type="text" placeholder="Name" id="cname" name="cname" required>
            <input type="text" placeholder="Email" id="cmail" name="cmail" required>
          </div>
          <div class="phone">
            <input type="text" placeholder="Phone Number" id="cphone" name="cphone" required>
          </div>
          <div class="text-area">
            <input type="textarea" rows="7" cols="100" placeholder="Type your message here.." id="cmsg" name="cmsg" required>
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
      <div class="foot">
        <div class="theme">
          <div class="theme-image">
            <div class="th-image">
          <img src="{% static 'images/logonew.png' %}" alt="">
            </div>
          </div>
          <div class="company-name">
            <div class="cname">
            <p>CLASSIC PRINTERS</p>
            </div>
          </div>
          <div class="theme-title">
            <div class="th-title">
             <p><i>Shaping what you dreamt of.</i></p>
            </div>
          </div>
         
        </div>
        <div class="mid-section">
          <div class="about-us">
            <div>
              <p>About:</p>
              <p><a href="">About us</a></p>
              <p><a href="">Our Products</a></p>
            </div>
          </div>
          <div class="help">
            <div>
              <p>Let us help:</p>
              <p><a href="">FAQ</a></p>
              <p><a href="">Contact us</a></p>
            </div>
          </div>
        </div>
        <div class="mail">
          <div class="mail-detail">
            <p>Mail Us:</p>
            <p>faizan.19b121056@abes.ac.in</p>
            <p>+919315380225</p>
          </div>
        </div>
        <div class="address">
          <div class="address-value">
            <p>Address : </p>
            <p>
              Classic Printers
              Near Gandhi Ashram 
              G.T. Road Khatauli
              Muzaffarnagar U.P. (India)
            </p>
          </div>
        </div>
      </div>
      <div class="last-footer">
        <div class="payment">
          <div class="pay1"><img src="{% static 'images/Visa.svg.png' %}" alt=""></div>
          <div class="pay1"><img src="{% static 'images/Mastercard_logo.0.jpg' %}" alt=""></div>
          <div class="pay1"><img src="{% static 'images/download.jpeg' %}" alt=""></div>
    </div>
       <div class="data"></div>
      
      <div class="social">
        <div class="social1"><img src="{% static 'images/twitter.png' %}" alt=""></div>
        <div class="social1"><img src="{% static 'images/facebook.png' %}" alt=""></div>
        <div class="insta"><img src="{% static 'images/insta.jpeg' %}" alt=""></div>
      </div>
      <div class="country"></div>
      </div>
      <script src="{% static 'js/script.js' %}"></script>
</body>
</html>