{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel = "icon" href = "{% static 'images/cp logo.png' %}" type = "image/x-icon">
    <script src="https://kit.fontawesome.com/69c632f6b1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block css %}{% endblock %}
    <link href="http://fonts.cdnfonts.com/css/elianto" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Gudea' rel='stylesheet'>
             
</head>
<body>
  <header id="first-head">
    <span>CLASSIC</span><img src="{% static 'images/logo2.png' %}" alt=""><span>PRINTERS</span>
  </header>
    <!-- <section class="head">
        <div class="image">
            <img src="{% static 'images/logo.jpeg' %}" alt="">
           
        </div>
        <div class="head-title">
            <p>For anything you think, we’ve got ink.</p>
        </div>
        <div class="search-bar">
                <input type="text" placeholder="Search"/>
        </div>
        <div class="login">
                <h1>login</h1>
        </div>
    </section> -->
   <!-- <hr style="background-color:#232325"> -->
   <div id="navigation">
        <nav id="navbar2" class="navbar">
            <div>
                <ul>
                    <li><a href="/products">All Products</a></li>
                    <li><a href="/products/vis_card">Visiting Cards</a></li>
                    <li><a href="/products/letter_heads">Letter Heads</a></li>
                    <li><a href="/products/brochure">Brochure</a></li>
                    <li><a href="/products/envelope">Envelopes</a></li>
                    <li><a href="">Coming Soon</a></li>
                    <li><a href="">Contact Us</a></li>
                    <li><a href="">Bags</a></li>
                    <li><a href="">Packaging</a></li>
                </ul>
            </div>
        </nav>
   </div>
        <!-- <hr style="background-color:#232325"> -->
    {% block body %}{% endblock %}
    <div class="first-foot">
      <div class="foot-form">
        <form action="">
          <div class="form-head">
            <h1>GET IN TOUCH</h1>
          </div>
          <div class="input-name">
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
          </div>
          <div class="phone">
            <input type="text" placeholder="Phone Number">
          </div>
          <div class="text-area">
            <input type="textarea" rows="7" cols="100" placeholder="Type your message here..">
          </div>
          <button type="submit">Submit</button>
        </form>
        {%for message in messages%}
        <div class="container alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
          <strong>Message:</strong> {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {%endfor%}
      </div>
    </div>
      <div class="foot">
        <div class="theme">
          <div class="theme-image">
            <div class="th-image">
          <img src="{% static 'images/logonew.png' %}" alt="">
            </div>
          </div>
          <div class="company-name">
            <div class="cname">
            <p>CLASSIC PRINTERS</p>
            </div>
          </div>
          <div class="theme-title">
            <div class="th-title">
             <p><i>Shaping what you dreamt of.</i></p>
            </div>
          </div>
         
        </div>
        <div class="mid-section">
          <div class="about-us">
            <div>
              <p>About:</p>
              <p><a href="">About us</a></p>
              <p><a href="">Our Products</a></p>
            </div>
          </div>
          <div class="help">
            <div>
              <p>Let us help:</p>
              <p><a href="">FAQ</a></p>
              <p><a href="">Contact us</a></p>
            </div>
          </div>
        </div>
        <div class="mail">
          <div class="mail-detail">
            <p>Mail Us:</p>
            <p>faizan.19b121056@abes.ac.in</p>
            <p>+919315380225</p>
          </div>
        </div>
        <div class="address">
          <div class="address-value">
            <p>Address : </p>
            <p>
              Classic Printers
              Near Gandhi Ashram 
              G.T. Road Khatauli
              Muzaffarnagar U.P. (India)
            </p>
          </div>
        </div>
      </div>
      <div class="last-footer">
        <div class="payment">
          <div class="pay1"><img src="{% static 'images/Visa.svg.png' %}" alt=""></div>
          <div class="pay1"><img src="{% static 'images/Mastercard_logo.0.jpg' %}" alt=""></div>
          <div class="pay1"><img src="{% static 'images/download.jpeg' %}" alt=""></div>
    </div>
       <div class="data"></div>
      
      <div class="social">
        <div class="social1"><img src="{% static 'images/twitter.png' %}" alt=""></div>
        <div class="social1"><img src="{% static 'images/facebook.png' %}" alt=""></div>
        <div class="insta"><img src="{% static 'images/insta.jpeg' %}" alt=""></div>
      </div>
      <div class="country"></div>
      </div>
      <script src="{% static 'js/script.js' %}"></script>
</body>
</html>