{% extends 'basic.html' %}
{% load static %}
{% block title %}ClassicKht{% endblock %}
{% block body %}
<div class="carousel" data-autoplay="true">
  <div class="slider">
      <input type="radio" id="radio1" name="slider" checked />
      <div class="slider__content">
        <img src="{% static 'images/image19.png' %}"/>
      </div>
      <input type="radio" id="radio2" name="slider" />
      <div class="slider__content">
        <img src="{% static 'images/image32.png' %}" />
      </div>
      <input type="radio" id="radio3" name="slider" />
      <div class="slider__content">
        <img src="{% static 'images/image33.png' %}"/>
      </div>
      <input type="radio" id="radio4" name="slider" />
      <div class="slider__content">
        <img src="{% static 'images/image42.png' %}" />
      </div>
      <input type="radio" id="radio5" name="slider" />
      <div class="slider__content">
        <img src="{% static 'images/image7.jpeg' %}" />
      </div>
    </div>
</div>
<div class="center-started">
<hr style="width:90%;margin:0 auto">
<div class="text-start">
<h3><span>Get Started</span></h3>
</div>
</div>
<div class="letter-head">
<div class="letter-carousel">
  <div id="c1" class="carousel1"> 
      <div class="carousel-images">
          <img class="carousel-image carousel-image-1" src="{% static 'images/image5.jpeg' %}" alt="">
          <img class="carousel-image carousel-image-2" src="{% static 'images/image6.jpeg' %}" alt="">
          <img class="carousel-image carousel-image-3" src="{% static 'images/image10.jpg' %}" alt="">
          <img class="carousel-image carousel-image-1_1" src="{% static 'images/image1 (1).jpeg' %}" alt="">
          <img class="carousel-image carousel-image-2_1" src="{% static 'images/image2.jpeg' %}" alt="">
      </div>
      <button class="carousel-btn btn-left" id="previous"><i class="fa-solid fa-angle-left icon-left"></i></button>
      <button class="carousel-btn btn-right" id="next"><i class="fa-solid fa-angle-right icon-right"></i></button>
  </div>
</div>
<div class="letter_description">
  <div class="desc-title">
    <div class="title1">
      <p>VISITING CARDS</p>
    </div>
  </div>
  <div class="desc-content">
      <div class="content1">
  <p>We’re in business to help yours. Customise your visiting cards with an array of 100+ designs with astonishing finish and quality. Furthermore we provide/ proffer a variety of finishes such as matte, UV, texture, varnish, glossy, etc. Get yours today.</p>
      </div>    
</div>
</div>
</div>
<!-- <hr> -->
<div class="letter-head1">
<div class="letter_description1">
<div class="desc-title">
  <div class="title2">
  <p>LETTER HEADS</p>
  </div>
</div>
<div class="desc-content">
  <div class="content2">
<p>Give your business profile a novel aura with us. Customise your letterheads with a collection of 30+ designs with exceptional quality available in matte and bond finishes.</p>
  </div>    
</div>
</div>
<div class="letter-carousel1">
  <div class="carousel11"> 
      <div class="carousel-images">
          <img class="carousel-image carousel-image-4" src="{% static 'images/image38.png' %}" alt="">
          <img class="carousel-image carousel-image-5" src="{% static 'images/image15.jpeg' %}" alt="">
          <img class="carousel-image carousel-image-6" src="{% static 'images/image16.jpeg' %}" alt="">
          <img class="carousel-image carousel-image-4_1" src="{% static 'images/image13.jpg' %}" alt="">
          <img class="carousel-image carousel-image-5_1" src="{% static 'images/image17.png' %}" alt="">
      </div>
      <button class="carousel-btn btn-left1" id="previous"><i class="fa-solid fa-angle-left icon-left"></i></button>
      <button class="carousel-btn btn-right1" id="next"><i class="fa-solid fa-angle-right icon-right"></i></button>
  </div>
</div>
</div>
<div class="letter-head2">
<div class="letter-carousel12">
  <div class="carousel12"> 
      <div class="carousel-images">
          <img class="carousel-image1 carousel-image-7" src="{% static 'images/image22.jpeg' %}" alt="">
          <img class="carousel-image1 carousel-image-8" src="{% static 'images/image24.jpeg' %}" alt="">
          <img class="carousel-image1 carousel-image-9" src="{% static 'images/image21.jpeg' %}" alt="">
          <img class="carousel-image1 carousel-image-7_1" src="{% static 'images/image23.jpeg' %}" alt="">
          <img class="carousel-image1 carousel-image-8_1" src="{% static 'images/image20.jpeg' %}" alt="">
      </div>
      <button class="carousel-btn btn-left2" id="previous"><i class="fa-solid fa-angle-left icon-left"></i></button>
      <button class="carousel-btn btn-right2" id="next"><i class="fa-solid fa-angle-right icon-right"></i></button>
  </div>
</div>
<div class="letter_description2">
<div class="desc-title">
  <div class="title3">
    <p>BROCHURE</p>
    </div>
</div>
<div class="desc-content">
  <div class="content3">
<p>Give your products and services a well descriptive persona with us. Customise your brochures in fine and exceptional quality. Now available in A4 and A3 sizes.</p>
  </div>    
</div>
</div>

</div>
<div class="letter-head3">
<div class="letter_description1">
  <div class="desc-title">
    <div class="title4">
      <p>ENVELOPES</p>
    </div>
  </div>
  <div class="desc-content">
    <div class="content4">
  <p>Level up your business’s face/ with us. Get customized envelopes of fine quality to stand out. Available in 9X4 inch and A4 size.</p>
    </div>    
  </div>
</div>
<div class="letter-carousel">
  <div class="carousel13"> 
      <div class="carousel-images">
          <img class="carousel-image carousel-image-10" src="{% static 'images/envelope1.png' %}" alt="">
          <img class="carousel-image carousel-image-11" src="{% static 'images/envelope2.png' %}" alt="">
          <img class="carousel-image carousel-image-12" src="{% static 'images/envelope3.png' %}" alt="">
          <img class="carousel-image carousel-image-10_1" src="{% static 'images/envelope4.png' %}" alt="">
          <img class="carousel-image carousel-image-11_1" src="{%static 'images/envelope5.png' %}" alt="">
      </div>
      <button class="carousel-btn btn-left3" id="previous"><i class="fa-solid fa-angle-left icon-left"></i></button>
      <button class="carousel-btn btn-right3" id="next"><i class="fa-solid fa-angle-right icon-right"></i></button>
  </div>
</div>
</div>
{% endblock %}