{% extends 'basic.html' %}
{% load static %}
{% block title %}Product{% endblock %}
{% block css %} <link rel="stylesheet" href="{% static 'css/products.css' %}">{% endblock %}
{% block body %}
<div class="vis-image">
    <img src="{% static 'images/image44.png' %}" alt="">
</div>
<div class="vis-heading">
    <div class="vis-title">
        <h1>Standard Visiting Cards</h1>
    </div>
    <div class="features">
        <div class="favourites">
            
        </div>
        <div class="search-design"></div>
        <div class="upload-design">
            <button>Upload your design</button>
        </div>
    </div>
</div>
<div class="visting-cards">
    <div class="customize">
        <div class="cus">
           <div class="customize-details">
                <div class="detail-values">
                    <div class="corners">
                        <div class="corner-values">
                            <div>
                            <h3>Corners</h3>
                            <input type="checkbox" name="Horizontal" id="Horizontal">
                            <label for="Horizontal"> Horizontal</label><br>
                            <input type="checkbox" name="Vertical" id="Vertical">
                            <label for="vertical"> Vertical</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="categories1">
                        <div class="categories-box">
                            <div>
                            <h3>Categories</h3>
                            </div>
                            <div class="cat">
                            <div>
                            <input type="checkbox" name="General" id="General">
                            <label for="General"> General</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Health & Care" id="Health & Care">
                            <label for="Health & Care"> Health & Care</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Construction & Real Estate" id="Construction & Real Estate">
                            <label for="Construction & Real Estate"> Construction & Real Estate</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Fashion" id="Fashion">
                            <label for="Fashion"> Fashion</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Legal" id="Legal">
                            <label for="Legal"> Legal</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Beauty Salon" id="Beauty Salon">
                            <label for="Beauty Salon"> Beauty Salon</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Manufacturing" id="Manufacturing">
                            <label for="Manufacturing"> Manufacturing</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Automobile" id="Automobile">
                            <label for="Automobile"> Automobile</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Print & Technology" id="Print & Technology">
                            <label for="Print & Technology"> Print & Technology</label><br>
                            </div>
                            <div>
                            <input type="checkbox" name="Food & Restaurant" id="Food & Restaurant">
                            <label for="Food & Restaurant"> Food & Restaurant</label><br>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <div class="all-cards">
        <ul class="cards-rows">
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
            <li class="cards">
                <button class="image-button">
                    <div class="image-box">
                        <div class="image-i">
                        <img src="" alt="">
                        </div>
                    </div>
                </button>
            </li>
        </ul>
    </div>
</div>
{% endblock %}